
.pan-zoom-container {
    height: 100%;
}
.pan-zoom {
    position: fixed;
    right: 0;
    top: 0;
    border: 1px solid #555;
    display: none;
    height: 15%;
    width: 10%;
     background-size: contain;
     background-repeat: no-repeat;
    opacity : 0.5;
    overflow:hidden;

}

.draggable {
	border: 3px solid red;
	cursor: move;
	background:rgba(0,0,0,0.2);
	position: absolute;
}